[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/MikeSemicolonD/N64ModernRuntime.git
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/MikeSemicolonD/rt64.git
